@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.titulo_destacados{
  font-size:60px;
  font-weight: 100;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}
.body {
  font-family: "Roboto", sans-serif   ;
  text-transform: capitalize;

}

.signin,
.signup {
    font-family: "Poppins", sans-serif;
    background-color: transparent; 
    border: 1px solid #167420; 
    color: #167420; 
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 4px;
    cursor: pointer;
    border-radius: 20px; 
    gap: 1px;
    margin-right: 10px;
}

.signin:hover,
.signup:hover {
    background-color: #167420; 
    color: rgb(255, 255, 255); 
}

.titleImg, .imgLink {
  padding: 20px;
  width: 110px;
}

.header {
  border-bottom: 1px solid color white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 6rem;
  background-color: rgb(150, 200, 155);
}


.card{
  height: 130px;
  width: 130px;
  background-color: #eaeced;
  color: #dddddd;
  border-radius: 10px;
  padding: 4px;
  transition: 0.4s;
  margin: 10px;
  box-shadow: 0px 3px 8px #000;
}

.card:hover{
  transform: scale(1.05);
  background-color: #aef8b6;
  box-shadow: 10px, 10px, 10px, 10px rgb(0, 0, 0,);

} 

.card-img-top{
  height: 120px;
  overflow: hidden;
  object-fit: cover;
}

.seccion{
  display: flex;
  justify-content: space-between ;
  margin: 20px;
}

.footer {
  background-color: rgb(150, 200, 155);
  padding: 80px 0;
}

.footer-row { 
  display: flex;
  flex-wrap: wrap;
}

.footer-links { 
  width: 25%;
  padding: 0 15px;
}

.footer-links h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #000000;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #0fc3ff;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links ul li a {
  font-family: "Poppins", sans-serif; 
  font-size: 18px;
  text-decoration: none;
  color: #323232;
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;
}

.footer-links ul li a:hover {
  color: black;
  padding-left: 6px;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all .5s ease;
}

.social-link a:hover { 
  background-color: #0fc3ff;
}
@media(min-width : 320px) and (max-width : 480px){
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  
  .body {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
  }
  .signin,
  .signup {
      background-color: transparent; 
      border: 1px solid #167420; 
      color: #167420; 
      padding: 8px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      margin: 2px 4px;
      cursor: pointer;
      border-radius: 20px; 
      gap: 1px;
      margin-right: 10px;
  }
  
  .signin:hover,
  .signup:hover {
      background-color: #167420; 
      color: rgb(255, 255, 255); 
  }
  
  .titleImg, .imgLink {
    padding: 20px;
    width: 110px;
  }
  
  .header {
    border-bottom: 1px solid color white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 6rem;
    background-color: rgb(150, 200, 155);
  }
  
  .montecarlo-regular {
      font-family: "MonteCarlo", cursive;
      font-weight: 400;
      font-style: normal;
  }

  .card{
    height: 50px;
    width: 60px;
    background-color: #eaeced;
    color: #dddddd;
    border-radius: 10px;
    padding: 4px;
    transition: 0.4s;
    margin: 10px;
    box-shadow: 0px 3px 8px #000;
  }
  
  .card:hover{
    transform: scale(1.05);
    background-color: #aef8b6;
    box-shadow: 10px, 10px, 10px, 10px rgb(0, 0, 0,);
  
  }
  
  .card-img-top{
    width: 30px;
    height: 30px;
    overflow: hidden;
    object-fit: cover;
  }
  
  .seccion{
    display: flex;
    justify-content: space-between ;
    margin: 20px;
  }
}